.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.login-left {
  width: 368px;
}
.login-left > h3 {
  font-size: 24px;
  font-weight: 500;
}
.login-right-container > Button {
  width: 345px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 700;
  border: none;
}
.login-right {
  width: 400px;
  height: 500px;
}
.login-right-container > Button:hover {
  background-color: white;
  color: #2e81f4;
}
.login-right-container {
  width: 400px;
  height: 350px;
  padding: 15px 15px 24px 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 1px 14px -2px rgba(0, 0, 0, 0.21);
}

.login-logo > img {
  object-fit: contain;
  height: 50px;
  margin-bottom: 30px;
}
.login > div {
  display: flex;
  flex-direction: column;
}
.login-input {
  width: 345px;
  height: 35px;
  padding: 14px 16px;
  border-radius: 10px;
  border: #eff2f5 0.5px solid;
  margin: 10px;
  outline-color: 5px 5px 6px -5px rgba(51, 138, 255, 0.5);
}
